.ag {
  &-footer {
    $bg-height: 6px;

    text-align: center;
    background: url("../assets/footer-line.png") repeat-x left top;
    background-size: 1549px $bg-height;
    padding: calc(#{$bg-height} + var(--wrapper-gutter)) 0 var(--wrapper-gutter)
      0;
  }
}
