@use "variables" as v;

.ag {
  &-image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;

    > img {
      display: block;
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(v.$color-brand, 0.5);
    }
  }
}
