@use "sass:map";
@use "variables" as v;

.ag {
  &-pager {
    padding: calc(var(--wrapper-gutter) / 2) 0 var(--wrapper-gutter) 0;

    @media screen and (min-width: map.get(v.$breakpoints, "lg")) {
      padding-bottom: var(--vertical-gutter);
    }

    .ag-wrapper-narrow {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    a {
      font-family: v.$font-headline;
      transition: all v.$default-transition;

      &:hover,
      &:focus {
        color: v.$color-link-active;
      }
    }
  }
}
