@use "sass:map";
@use "variables" as v;

.ag {
  &-post-grid {
    padding: var(--vertical-gutter) 0;
    display: grid;
    gap: var(--wrapper-gutter);

    &-col {
      > .ag-post {
        margin-bottom: var(--wrapper-gutter);

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: map.get(v.$breakpoints, "md")) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
