@use "sass:map";
@use "variables" as v;

.ag {
  &-post-list-alternate {
    &-item {
      padding-bottom: 24px;
      background-repeat: no-repeat;
      background-size: 240px auto;
      @media screen and (max-width: (map.get(v.$breakpoints, "xxl") - 1)) {
        background-image: none !important;
      }

      &:nth-child(odd) {
        background-position: -5% 5%;
      }

      &:nth-child(even) {
        background-position: 105% 95%;
      }

      .ag-post {
        border-radius: v.$default-radius;
        background-color: v.$color-list-alternate-bg;
        padding: 16px 8px;
      }

      .ag-wrapper-narrow {
        padding-top: 0;
        padding-bottom: 0;
      }

      .ag-post-info {
        &,
        a {
          display: flex;
          align-items: center;

          .ag-icon {
            margin-right: 4px;
            color: v.$color-text !important;
          }
        }
      }
    }
  }
}
