.ag {
  &-related-articles {
    background: white;
    .ag-post {
      h6 {
        margin-bottom: 0.5em;

        &.ag-post-title {
          margin-bottom: 0.3em;
        }
      }
    }

    .ag-post-header,
    .ag-post-info {
      margin-bottom: 0;
    }
  }
}
