@use "sass:map";
@use "variables" as v;
@use "functions" as f;

.ag {
  &-tabs {
    @media screen and (min-width: map.get(v.$breakpoints, "md")) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &-tab {
      &:first-of-type {
        padding-bottom: 8px;
      }

      @media screen and (min-width: map.get(v.$breakpoints, "md")) {
        &:first-of-type {
          padding-right: 8px;
          padding-bottom: 0;
        }

        &:last-of-type {
          padding-left: 8px;
        }
      }
    }

    &-link {
      display: block;
      border-radius: v.$default-radius;
      transition: all v.$default-transition;
      font-family: v.$font-headline;
      padding: 10px 4px;
      text-align: center;
      font-size: f.px-to-rem(28px);

      @media screen and (min-width: map.get(v.$breakpoints, "md")) {
        font-size: f.px-to-rem(40px);
      }

      &:hover,
      &:focus {
        background-color: v.$color-link-active;
        color: v.$color-link-visited;
      }

      &-active {
        background-color: v.$color-brand !important;
        color: white !important;
      }
    }
  }
}
