@use "sass:map";
@use "functions" as f;

$colors: (
  "magenta": #f53467,
  "dark-grey": #261132,
  "light-grey": rgba(#261132, 70%),
  "pink": rgba(#f53467, 0.5),
  "white": #fff,
  "violet": rgba(154, 52, 142, 0.1),
  "almost-white": #f9f9f9,
  "purple": #9a348e,
);

$color-brand: map.get($colors, "magenta");
$color-link: map.get($colors, "magenta");
$color-text: map.get($colors, "dark-grey");
$color-bg: map.get($colors, "white");
$color-secondary-text: map.get($colors, "light-grey");
$color-highlight-bg: map.get($colors, "violet");
$color-list-alternate-bg: map.get($colors, "almost-white");
$color-link-active: map.get($colors, "pink");
$color-link-visited: map.get($colors, "purple");

$breakpoints: (
  "xs": 320px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1440px,
);

$z-top: 1000;
$z-middle: 100;
$z-bottom: 1;

$content-text-size: f.px-to-rem(16px);
$content-text-size-large: f.px-to-rem(18px);
$small-text-size: f.px-to-rem(12px);
$small-text-size-large: f.px-to-rem(14px);

$wrapper-max-width: 1440px;
$content-max-width: 996px;
$wrapper-gutter: 18px;
$wrapper-gutter-large: 36px;

$font-text: "Bitter", "Times New Roman", "serif";
$font-headline: "DM Mono", Helvetica, "san-serif";

$logo-width: 322px;
$default-transition: ease-in-out 0.3s;
$default-radius: 5px;
