<!DOCTYPE html>
<html lang="hu" x-data="{lteLGNavOpened: false, toggleMenuLteLG() { this.lteLGNavOpened = !this.lteLGNavOpened }}">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://unpkg.com" />
    <link rel="preconnect" href="https://unpkg.com" crossorigin />
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>{{title}}</title>
  </head>
  <body class="ag-layout" :class="lteLGNavOpened ? 'ag-lte-lg-nav-opened' : ''">
    {{> header }}
    {{> @partial-block }}
    {{> footer }}
    <script type="module" src="./js/main.js"></script>
    {{#if entry}}
    <script type="module" src="./js/{{entry}}.js"></script>
    {{/if}}
  </body>
</html>
