{{! TODO: Ask if we'll even need this... }}
<form class="ag-cookies">
  <div class="ag-post">
    <small>
      Az oldal sütiket használ. Részletes tájékoztatást lásd az
      <a href="/page-adatvedelem.html">Adatvédelem</a>
      alatt.
      <br />
      Itt kiválaszhatod, milyen célú sütiket akarsz engedélyezni.
    </small>
  </div>
  <button type="button">Kiválaszottak engedélyezése</button>
</form>
