<footer class="ag-footer">
  <div class="ag-wrapper">
    <ul class="ag-footer-links">
      <li class="ag-footer-link-items">
        <a href="#" class="ag-footer-link">
          Adatvédelem
        </a>
      </li>
      <li class="ag-footer-link-items">
        <a href="#" class="ag-footer-link">
          K-Monitor
        </a>
      </li>
      <li class="ag-footer-link-items">
        <a href="#" class="ag-footer-link">
          NER Hotel
        </a>
      </li>
      <li class="ag-footer-link-items">
        <a href="#" class="ag-footer-link">
          Süti beállítások
        </a>
      </li>
    </ul>
  </div>
</footer>