<header class="ag-header">
  <div class="ag-wrapper">
    <div class="ag-logo-row" style="line-height: 0;">
      <a href="/" style="line-height: 0; display: inline-block;">
        <img src="assets/logo.svg" alt="Agrártámogatások" class="ag-logo" />
      </a>
    </div>
    <nav class="ag-nav">
      <ul class="ag-nav-list">
        <li class="ag-nav-item">
          <a href="#" class="ag-nav-link">az elmúlt x év megállapításai</a>
        </li>
        <li class="ag-nav-item">
          <a href="#" class="ag-nav-link">közös agrárpolitika</a>
        </li>
        <li class="ag-nav-item">
          <a href="#" class="ag-nav-link">12 év adatai</a>
        </li>
        <li class="ag-nav-item">
          <a href="#" class="ag-nav-link">tudástár</a>
        </li>
        <li class="ag-nav-item">
          <a href="#" class="ag-nav-link">impresszum</a>
        </li>
      </ul>
    </nav>
  </div>
  <button
    type="button"
    class="ag-menu-button-lte-lg"
    x-bind:class="{'show': lteLGNavOpened}"
    x-bind:aria-label="lteLGNavOpened ? 'Menü bezárása' : 'Menü kinyitása'"
    @click="toggleMenuLteLG"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
  <template x-teleport="body">
    <div
      x-cloak
      @click="toggleMenuLteLG"
      class="ag-backdrop"
      x-transition.duration.300ms
      x-show="lteLGNavOpened"
    ></div>
  </template>
</header>