<nav class="ag-pager">
  <div class="ag-wrapper ag-wrapper-narrow">
    <a href="#" rel="prev"> &laquo;&nbsp;Előző oldal </a>
    <a href="#" rel="next"> Következő oldal&nbsp;&raquo </a>
  </div>
</nav>